<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/geral.css">
        <link rel="stylesheet" href="/css/index.css">
        <title>Pizzaria Fantástica</title>
    </head>

    <body>
        <header>
            <a href="/">
                <img src="/img/logo.svg" alt="Logo da Pizzaria Fantástica" width="64" height="64">
            </a>
            <input type="text" name="" id="" placeholder="Qual pizza você procura?">
            <button class="btBuscar">Buscar</button>
            <a href="/carrinho">
                <img src="" alt="">
                <span>0</span>
            </a>
            <a href="">
                <img src="" alt="">
            </a>
        </header>
        <main>
            <article>
                <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
                <h2>Calabresa</h2>
                <span>R$ 40,50</span>
                <a href="">Ver mais</a>
                <button>add+</button>
            </article>
            <article>
                <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
                <h2>Calabresa</h2>
                <span>R$ 40,50</span>
                <a href="">Ver mais</a>
                <button>add+</button>
            </article>
            <article>
                <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
                <h2>Calabresa</h2>
                <span>R$ 40,50</span>
                <a href="">Ver mais</a>
                <button>add+</button>
            </article>
            <article>
                <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
                <h2>Calabresa</h2>
                <span>R$ 40,50</span>
                <a href="">Ver mais</a>
                <button>add+</button>
            </article>
            <article>
                <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
                <h2>Calabresa</h2>
                <span>R$ 40,50</span>
                <a href="">Ver mais</a>
                <button>add+</button>
            </article>
            <article>
                <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
                <h2>Calabresa</h2>
                <span>R$ 40,50</span>
                <a href="">Ver mais</a>
                <button>add+</button>
            </article>
            <article>
                <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
                <h2>Calabresa</h2>
                <span>R$ 40,50</span>
                <a href="">Ver mais</a>
                <button>add+</button>
            </article>
            <article>
                <img src="/img/calabresa.jpg" alt="Pizza de Calabresa">
                <h2>Calabresa</h2>
                <span>R$ 40,50</span>
                <a href="">Ver mais</a>
                <button>add+</button>
            </article>
        </main>

        
    </body>

</html>