/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::before{
	content: "";
	position: fixed;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	background-image: url(/img/bg.jpeg);
	filter: brightness(0.3);
	background-size: cover;
	z-index: -1;
}

header {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: stretch;
    padding: 10px;
    height: 80px;
    gap: 5px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

header input {
    font-size: 1.5rem;
    border-style: none;
    padding: 10px;
    width: 600px;
    flex-grow: 1;
}

header a {
    text-decoration: none;
}

header span {
    color: #fff;
    background-color:#ff5100;
    border-radius: 50%;
    padding: 3px 9px;
}

button, .input-file-container {
    background-color: #ff5100;
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

button:hover, .input-file-container:hover{
    background-color: black;
}

.btBuscar {
    width: 300px;
    font-size: 1.5rem;
}

#logo {
    height: 64px;
    width: 64px;
}

.btBuscar {
    width: 300px;
}

article > img {
    width: 300px;
}

.input-file-container {
    background-color: #ff5100;
}

input[type="file"] {
    display: none;
}

@media screen and (max-width: 550px) {
    .btBuscar {
        display: none;
    }
}