/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;   
}

html {
    height: 100%;
    font-size: 16px;
}

body {
    background-color: gray;
    color: #FFF;
}

body::before{
	content: "";
	position: fixed;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	background-image: url(/img/bg.jpeg);
	filter: brightness(0.3);
	background-size: cover;
	z-index: -1;
}

header {
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: stretch;
    padding: 10px;
    height: 80px;
    gap: 5px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

header input {
    font-size: 1.5rem;
    border-style: none;
    padding: 10px;
    width: 600px;
    flex-grow: 1;
}

header a {
    text-decoration: none;
}

header span {
    color: #fff;
    background-color:#ff5100;
    border-radius: 50%;
    padding: 3px 9px;
}

button, .input-file-container {
    background-color: #ff5100;
    color: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

button:hover, .input-file-container:hover{
    background-color: #fca91b;
}

.btBuscar {
    width: 300px;
    font-size: 1.5rem;
}

#logo {
    height: 64px;
    width: 64px;
}

.btBuscar {
    width: 300px;
}

article > img {
    width: 300px;
}

.input-file-container {
    background-color: #ff5100;
}

input[type="file"] {
    display: none;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="number"]
{
    padding: 5px;
    font-size: 1.2rem;
}

form input:invalid{
    border: 3px solid crimson;
}

form input:valid{
    border: 3px solid greenyellow;
}

form input:invalid + .error-msg{
    display: block;
}

form .error-msg{
    color: crimson;
    font-size: 14px;
    display: none;
}

@media screen and (max-width: 550px) {
    .btBuscar {
        display: none;
    }
}