main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    position: relative;
}

main article{
    position: relative;
}

main article h2 {
    position: absolute;
    left: 0;
    top: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;    
}

main article span {
    position: absolute;
    left: 0;
    top: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    padding: 5px;    
}

main article a {
    padding: 10px 20px;
    background-color: rgb(46, 130, 255);
    position: absolute;
    left: 0;
    bottom: 20px;
    text-decoration: none;
    color: #FFF;
}

main article button {
    padding: 10px 20px;
    position: absolute;
    right: 0;
    bottom: 20px;
}

main article img {
    width: 100%;
    display: block;
}

@media screen and (max-width: 720px){
    main {
        grid-template-columns: 1fr 1fr;
    }
}

