<header>
    <a href="/">
        <img src="/img/logo.svg" alt="Logo da Pizzaria Fantástica" width="64" height="64">
    </a>
    <input type="text" name="" id="campo-de-busca" placeholder="Qual pizza você procura?">
    <button class="btBuscar">Buscar</button>
    <a href="/carrinho">
        <img src="" alt="">
        <span>0</span>
    </a>
    <a href="">
        <img src="" alt="">
    </a>
</header>
